[package]
name    = "svc-template-rust"
version = "0.2.0-develop.0"
edition = "2021"              # Allowed values are 2015, 2018, 2021
# Rust Editions: https://doc.rust-lang.org/edition-guide/index.html

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cargo-husky  = "1"
chrono       = { version = "0.4.22", features = ["serde"] }
hyper        = "0.14.20"
prost        = "0.11.0"
prost-build  = "0.11.1"
prost-types  = "0.11.1"
serde        = "1.0.144"
serde_json   = "1.0.85"
tokio        = { version = "1.20.1", features = ["full"] }
tokio-util   = "0.7.3"
tonic        = "0.8.2"
tonic-health = "0.7.1"

[build-dependencies]
tonic-build = "0.8"

[dev-dependencies.cargo-husky]
default-features = false          # Disable features which are enabled by default
features         = ["user-hooks"]
version          = "1"
