[package]
description = "Arrow template service GRPC client"
name        = "svc-template-rust-client-grpc"
version     = "0.2.0-develop.2"

categories.workspace   = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license-file.workspace = true
repository.workspace   = true

[dependencies]
prost       = "0.11"
prost-types = "0.11"
tonic       = "0.8"

[dependencies.lib-common]
features = ["grpc"]
git      = "https://github.com/Arrow-air/lib-common.git"
tag      = "v0.1.1-develop.2"

[dev-dependencies]
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }

[[example]]
name = "grpc"
