[package]
description = "Types used to communicate with the REST API of svc-template-rust."
name        = "svc-template-rust-client-rest"
version     = "0.1.0"

categories.workspace   = true
edition.workspace      = true
homepage.workspace     = true
keywords.workspace     = true
license-file.workspace = true
repository.workspace   = true

[dependencies]
chrono     = { version = "0.4", features = ["serde"] }
serde      = "1.0"
serde_json = "1.0"

[dependencies.utoipa]
features = ["axum_extras", "chrono"]
version  = "3.1"

[[example]]
name = "rest"

[dev-dependencies]
hyper = { version = "0.14", features = ["full"] }
tokio = { version = "1.20", features = ["full"] }
uuid  = { version = "1.3.0", features = ["v4"] }
